<div class="container-fluid">
  <nav class="navbar navbar-expand-lg navbar-light bg-light row justify">
    <div class="collapse navbar-collapse" id="navbarSupportedContent" style="position: relative;">
      <div class="dashboard-container">
        <a  class="row justify-content-end col-auto" routerLink="/"><button type="button" class="btn-close" aria-label="Close"></button></a>
        <br>     
        <ul class="navbar-nav ml-auto">  
          <li class="nav-item">
            <span class="navbar-text">
              Welcome, {{ username }}
            </span>
          </li>
          <li class="nav-item">
            <div class="gap"></div>
          </li>
          <li class="nav-button">
            <button class="btn btn-outline-danger my-2 my-sm-0" type="button" (click)="logout()">Logout</button>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</div>
